@charset "utf-8";
/* CSS Document */ 

body {

  margin: 0;
  padding: 0;
  background: #F5FFFA;
  color: #003544;
  font-size:9px;
  text-align: center;

}

#container {
   width:1000px;
   height:1000px;
   background-color:white;
   margin: 0 160px 0;
   text-align:justify;
  
}
header {
	text-align:left;
	position:relative;
        margin:0;
}
.ho {
margin-right:5px;
}
.menu {
               
	width:960px;
	height:30px;
	background-color:#fff;
	box-shadow: -1px 0px 9px 0px rgba(0,0,0,075);
	z-index:9999;
	text-align:center;
        font-size:15px;
}
.menu a {
	text-decoration: none;
	top: 10px;
	padding: 50px; 
	color: #4d5255;
	position: relative;
	display: inline;
	text-align:center;
               
}
 #img {
    margin-top:15px;
    width:960px;
    height:30px;
}
.tel {
font-size:10px;
text-color:black;
}
